body {
  background: #a9a9a9;
  font-family: "Odibee Sans", cursive;
  font-size: 25px;
  letter-spacing: 10px;
}
h1 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  text-align: center;
  letter-spacing: 8px;
}
#tesoura {
  padding: 25px;
  background: transparent;
  border: none;
  width: 83px;
  height: 132px;
  background-position-y: -44px;
  background-repeat: no-repeat;
  background-image: url(maos_player.png);
  background-position-x: -158px;
}
#pedra {
  padding: 25px;
  background: transparent;
  border: none;
  width: 83px;
  height: 132px;
  background-position-y: -45px;
  background-repeat: no-repeat;
  background-image: url(maos_player.png);
  background-position-x: -10px;
}
#pedra:hover {
  padding: 25px;
  background: transparent;
  border: none;
  width: 83px;
  height: 132px;
  background-position-y: -40px;
  background-repeat: no-repeat;
  background-image: url(maos_player_lose.png);
  background-position-x: -10px;
  cursor: pointer;
}
#papel {
  padding: 25px;
  background: transparent;
  border: none;
  width: 75px;
  height: 132px;
  background-position-y: -44px;
  background-repeat: no-repeat;
  background-image: url(maos_player.png);
  background-position-x: -88px;
}
#papel:hover {
  padding: 25px;
  background: transparent;
  border: none;
  width: 75px;
  height: 132px;
  background-position-y: -40px;
  background-repeat: no-repeat;
  background-image: url(maos_player_lose.png);
  background-position-x: -88px;
  cursor: pointer;
}
#tesoura:hover {
  padding: 25px;
  background: transparent;
  border: none;
  width: 83px;
  height: 132px;
  background-position-y: -40px;
  background-repeat: no-repeat;
  background-image: url(maos_player_lose.png);
  background-position-x: -158px;
  cursor: pointer;
}

#box {
  display: flex;
  flex-flow: column row;
  justify-content: center;
  align-content: flex-end;
}
#mao {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.select {
  margin: 5px;
}
#imagem {
  padding: 25px;
  background: transparent;
  border: none;
  width: 54px;
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-image: url(expressions.png);
  background-position-x: 0px;
}
